<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Credify Tech Automation test"> 
  <test name="Credify Regression Test" >
    <classes>
      <class name="tech.credify.qa.Tests.RegistrationPageTest"></class>
      <class name="tech.credify.qa.Tests.LoginPageTest"></class>
      <class name="tech.credify.qa.Tests.OfferPageTest"></class>
      
    </classes>
 </test>
</suite>